.bar-graph-display {
  .single-bar {
    position: relative;
    opacity: 0.6;
    background-color: transparent;
    box-sizing: border-box;
    justify-self: center;
    width: 100%;
    grid-row-end: last-line;
    grid-row-start: 1;
    grid-gap: 2px;
    text-align: center;
    left: 0;
    transition: left 400ms ease-out;
    border: 1px solid #444;

    &.active-bar {
      background-color: #9dbad5;
    }

    &.pivot {
      background-color: green;
    }
    &[class*="bar-moving"] {
      background-color: red;
      z-index: 100;
      &.pivot {
        background: linear-gradient(green, red);
      }
    }
  }

  &.no-transition {
    .single-bar {
      transition: none !important;
    }
  }
}
